body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://source.unsplash.com/1600x900/?office,building") no-repeat center center/cover;
}

/* Overlay blur gelap di background */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #9CA3AF;
    backdrop-filter: blur(10px);
    z-index: -1;
}

/* Kotak login */
.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.container {
    background: linear-gradient(135deg, #1E3A8A, #9CA3AF); /* biru gradient */
    padding: 60px 200px;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    text-align: center;
}

/* Judul login */
.form h2 {
    width: 100%;
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

/* Input dengan ikon */
.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputBox i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #555;
    font-size: 15px;
}


.inputBox input {
    width: 100%;
    padding: 14px 18px 14px 45px;
    font-size: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; /* penting biar ikut padding container */
    margin: 0; /* hilangkan jarak aneh */
}

/* Icon mata */
.inputBox .toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
    user-select: none;
}

/* Tombol submit */
button {
    margin-top: 15px;
    padding: 8px 25px;
    background: #1d4ed8;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

button:hover {
    background: #3B82F6;
    transform: scale(1.05);
}

.checkBox {
    margin: 10px 0 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #fff;
}
